# @Author: royce
# @Date:   2016-10-16T13:04:50-04:00
# @Email:  rharding@gotonight.com
# @Project: Go Tonight
# @Last modified by:   royce
# @Last modified time: 2016-10-17T21:19:43-04:00
# @License: © 2016 GoTonight LLC All Rights Reserved

{
  "parser": "babel-eslint",
  "extends": "rallycoding",
  "rules": {
      "arrow-body-style": 0,
      "generator-star-spacing": 0
    #  "babel/generator-star-spacing": 1
    }
}
